[Unit]
  Description=cifs mount script
  Requires=network-online.target
  After=network-online.service

[Mount]
  What=//192.168.1.100/smbscratch
  Where=/home/sphynx/mnt/smbscratch
  Options=uid=1000,rw,vers=3.0
  Type=cifs

[Install]
  WantedBy=multi-user.target
