# UDEV Rules for Input Club keyboards
#
# This will allow reflashing via dfu-util without using sudo
#
# This file must be placed /at /etc/udev/rules.d/60-input-club.rules  (preferred location)

# Board
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1c11", ATTRS{idProduct}=="b04d", MODE="664", GROUP="plugdev"
# Boot
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1c11", ATTRS{idProduct}=="b007", MODE="664", GROUP="plugdev"
# Registered Board
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="01c0", MODE="664", GROUP="plugdev"
# Registered Boot
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="01cb", MODE="664", GROUP="plugdev"
# Official VID
SUBSYSTEMS=="usb", ATTRS{idVendor}=="308f", MODE="664", GROUP="plugdev"
